#slide-0 .bcg {
    background-image:url('../img/slide0.jpg')
}

#slide-1 .bcg {
    background-image:url('../img/slide1.jpg');
}
#slide-2 .bcg {
    background-image:url('../img/slide2.jpg');
}
#slide-3 .bcg {
    background-image:url('../img/slide3.jpg');
}