.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/slide0.jpg')}

#slide-2 .bcg {
    background-image:url('../img/slide1.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center
}
#slide-3 .bcg {
    background-image:url('../img/slide2.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center
}